.molecule-toolbar
   display flex
   width 100%
   height 5vh
   background-color $toolbar-background
   color #ffffff
   .atom-navbar
      display flex
      width 100%
      list-style none
      line-height 5vh
      .atom-navbar-title
         width 10vw
         a 
            text-decoration none
            color #ffffff
      .atom-navbar-group
         display flex
         justify-content flex-end    
         width 80% 
         list-style none
      .atom-navbar-item
         width: 5vw
         a 
            text-decoration none
            color #ffffff
