.molecule-toolbar
   display flex
   width 100%
   .atom-navbar
      display flex
      width 100%
      list-style none
      .atom-navbar-title
         width 10vw
         a 
            text-decoration none
            color #000
      .atom-navbar-group
         display flex
         justify-content flex-end    
         width 80% 
         list-style none
      .atom-navbar-item
         width: 5vw
         a 
            text-decoration none
            color #000
